body {
    background-image: url("../img/background.jpg");
    background-color: black;
    background-repeat: repeat-y;
    background-size: 100%;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
    color: white;
}
@keyframes myAnimation {
  from {transform: translateX(-100%);}
  to {}
  
}
#main {
    text-align: center;
    width: 50%;
    border-radius: 7px;
    margin: auto;
}
#main img {
    width: 10%;
}
#map { height: 300px; width: 100%; margin: auto; border: 0.2rem solid white; border-radius: 8px;  }

.container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.subcontainer {
    width: 100%;
    margin: 0 auto;
    animation-duration: 4s;
    animation-timeline: view();
    animation-name: myAnimation;
}
.container-text {
    margin: 5px;
}
.right-block {
    text-align: right;
}
@media screen and (max-width: 1024px) {
    #main {
        width: 100%;
    }
    #main img {
        width: 20%;
    }
    .container {
        margin: auto;
        height: 80vh;
    }
    .subcontainer {
        width: 85%;
    }
}