body {
    background: linear-gradient(rgba(255,255,255,0.5)),
    url("../img/grey.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
    color: black;
}
footer {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
img {
    width: 700px;
}
@keyframes myAnimation {
  from {transform: translateY(-100%);}
  to {transform: translateY(0%);}
}
@keyframes fly {
    from {transform: translateY(10%)} to {transform: translateY(-10%) }
}
#main {
    display: grid;
    text-align: center;
    width: 50%;
    border-radius: 7px;
    margin: auto;
}
.right-block img {
    width: 10%;
    border-radius: 6px;
}
#map { height: 300px; width: 100%; margin: auto; border: 0.2rem solid white; border-radius: 8px;  }

#mainlogo {
    animation-name: fly;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 200px;
}
.container {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.subcontainer {
    width: 100%;
    height: fit-content;
    max-height: 100%;
    margin: 0 auto;
    animation-duration: 2s;
    animation-name: myAnimation;
}
.container-text {
    margin: 5px;
}
.right-block {
    display: grid;
    grid-template-columns: auto auto;
    text-align: right;
    font-size: x-large;
    font-weight: bolder;
}
.ycentertext {
    margin: auto;
}


@media screen and (max-width: 1024px) {
    #main {
        width: 100%;
    }
    
    .right-block img {
        width: 20%;
    }
    .container {
        height: 80vh;
    }
    .longtext {
        height: fit-content;
    }
    .subcontainer {
        width: 85%;
    }
}